@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url('https://fonts.googleapis.com/css2?family=Cantata+One&display=swap');

.Leporem_Introduce{
	padding : 100px 0px 50px 0px;
	width: 75%;
	margin-left: auto;
    margin-right: auto;
	
}

.Leporem_Introduce_top1 {
	background-color: rgb(0, 0, 0, 0.4);
	color: white;
}

.Leporem_Introduce_title{
	text-align : center;
	font-size : 50px;
	font-weight : bold;
	
}


.Leporem_Introduce_subtitle{
	text-align : center;
	font-size : 20px;
	padding : 10px 0px 10px 0px;
	
}

.Leporem_Introduce_content{
	text-align : center;
	padding-top : 10px;
	line-height: 2.2;
	opacity : 70%
	
}


.Leporem_Introduce_center img{
	width : 100px;
	height : 100px;
	
}

ul {
	list-style : none;
	
}

.Leporem_Introduce_center{
	margin-top: 100px;
	
}

.Leporem_Introduce_center li {
	float : left;
	width : 25%;
	text-align : center;

}

.Leporem_Introduce_center li span{
	display : block;
	padding-top : 10px;
	font-weight : bold;
}

.Leporem_story{
	width: 75%;
	margin-left: auto;
    margin-right: auto;
	
}


.Leporem_story_title{
	font-family: 'Cantata One', serif;
	padding : 300px 0px 100px 0px;
	text-align : center;
	font-size : 40px;
}

.Leporem_story_center img{
	padding: 10px 10px 10px 10px;
	float : left;
	width: 50%;
	
}

.Leporem_story_center img{
	padding: 0px 3%;

}


.Leporem_story_center > div{
	width:50%;
	padding:0px 3%;
	display:table-cell;
	vertical-align:middle;
	height : 380px;
	line-height: 2.5;
	opacity : 70%;
	font-size : 14px;
	
}

.Leporem_partners_top{
	margin-top: 150px;
	border-top : 1px solid #dcdcdc;;
}

.Leporem__partners_title{
	font-family: 'Cantata One', serif;
	padding : 150px 0px 150px 0px;
	text-align : center;
	font-size : 40px;
	
}

.slider{
  	width: 640px;
   	height: 360px;
    position: relative;
    margin: 0 auto;

}
.slider input[type=radio]{
    display: none;
}

ul.imgs{
    padding: 0;
    margin: 0;
  
}

ul.imgs li img{
   width: 640px;
   height: 360px;

}

ul.imgs li{
    position: absolute;
    opacity: 0
    list-style: none;
    padding: 0;
    margin: 0;
}

.bullets{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 2;
}
.bullets label{
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.35);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
    background-color: #fff;
}

.slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
    background-color: #fff;
}

.slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
    background-color: #fff;
}

.slider input[type=radio]:nth-child(4):checked~.bullets>label:nth-child(4){
    background-color: #fff;
}

.slider input[type=radio]:nth-child(5):checked~.bullets>label:nth-child(5){
    background-color: #fff;
}


.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
    opacity: 1;
    transition: 1s;
    z-index: 1;
}

.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
    opacity: 1;
    transition: 1s;
    z-index: 1;
}

.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
    opacity: 1;
    transition: 1s;
    z-index: 1;
}

.slider input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(4){
    opacity: 1;
    transition: 1s;
    z-index: 1;
}

.slider input[type=radio]:nth-child(5):checked~ul.imgs>li:nth-child(5){
    opacity: 1;
    transition: 1s;
    z-index: 1;
}

ul.imgs li{
    position: absolute;
    opacity: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    transition-delay: 0.9s;
}



    
    
    
    
    